* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana;
}

.listStuff {
	list-style-type: none;
}

.frequentItems {

}

#printBut {
	visibility: hidden;
}

#categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 20vw;
	width: 75vw;
	height: auto;
	min-height: 300px;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
}

.subcat {
	width: 20vw;
	height: auto;
	text-align: center;
}

.subcat div:first-child {
	font-weight: bold;
	text-decoration: underline;
}

.removeButtons {
	visibility: visible;
}

#instructions {
	width: 20vw;
	height: auto;
}



/*Sub Categories, buttons and hover effects*/
#produceDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/produce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#produceDiv:hover {
	animation: ProduceDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes ProduceDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#produceDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#produceDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#produceDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}


#condimentsDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/condiments.png);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#condimentsDiv:hover {
	animation: condimentsDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes condimentsDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#condimentsDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#condimentsDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#condimentsDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}


#variousDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/various.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#variousDiv:hover {
	animation: variousDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes variousDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#variousDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#variousDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#variousDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}


#snacksDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/snacks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#snacksDiv:hover {
	animation: snacksDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes snacksDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#snacksDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#snacksDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#snacksDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}


#coldDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/cold.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#coldDiv:hover {
	animation: coldDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes coldDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#coldDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#coldDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#coldDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}


#meatDiv {
	width: 20vw;
	height: auto;
	max-height: 50px;
	background-image: url(images/meat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	visibility: hidden;
}
#meatDiv:hover {
	animation: meatDrop 500ms ease;
	animation-fill-mode: forwards;
}
@keyframes meatDrop {
	0% {
		max-height: 50px;
		visibility: hidden;
	}
	20% {
		max-height: 500px;
		visibility: hidden;
	}
	100% {	
		max-height: 500px;
		visibility: visible;
	}
}

#meatDiv h2 {
	width: 20vw;
	height: 50px;
	margin: auto;
	padding-top: 7px;
	text-align: center;
	background-color: #FC6971;
	visibility: visible;
	background-color: lightgray;
}

#meatDiv > button {
	width: 40%;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
}
#meatDiv > button:hover {
	background-image: linear-gradient(120deg, #57D180, #FFCB6B);
	font-weight: bold;
	cursor: pointer;
}