/*
	- Build animation that forces freqItem buttons to say 'Added!' for only a few seconds
	after the button has been clicked, then reverts back to the item name.
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana;
}

.listStuff {
	list-style-type: none;
}

.frequentItems {

}

#sortBut {
	visibility: hidden;
}

#categories {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 0;
	width: 80vw;
	height: 1000px;
	margin: auto;
	background-color: lightblue;
}

.subcat {
	width: 30vw;
	height: 50px;
	background-color: lightgreen;
}